extends layout

block title
  | oynp

block head
  style.
    a { color: #3A8; }

block body
  p 这是一个在线备忘录，路径即为某项备忘的标题。

  p.
    请注意，在当前版本下，只要某项备忘的路径被获知，其所有数据将是完全公开的，并且可以被任意修改。
    因此，请勿在此保存任何重要内容！</p>

  p
    另外，根据 FarBox 的规则，保存次数将有一定限制：<br/>
    未登录者，每 IP 每 10 分钟内不能超过 2 次；<br/>
    已登录者，每个帐号每 10 分钟不能超过 5 次。<br/>
    请知悉！

  hr

  p
    | 你可以访问
    a(href="about") /about
    |  了解更多信息