extends layout

block title
  +need_admin()
  | the list

block body
  div(style="text-align: left;")
    posts = get_data(type='post', path='share/', sort='desc', limit=50)
    ul
      for post in posts
        li
          a(href=post.metadata.tags)= post.metadata.tags
